/* font converted using font-converter.net. thank you! */
@font-face {
  font-family: "FuturaLT-Bold";
  src: url("./fonts/LTe50154.eot"); /* IE9 Compat Modes */
  src: url("./fonts/LTe50154.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
    url("./fonts/LTe50154.otf") format("opentype"), /* Open Type Font */
    url("./fonts/LTe50154.svg") format("svg"), /* Legacy iOS */
    url("./fonts/LTe50154.ttf") format("truetype"), /* Safari, Android, iOS */
    url("./fonts/LTe50154.woff") format("woff"), /* Modern Browsers */
    url("./fonts/LTe50154.woff2") format("woff2"); /* Modern Browsers */
  font-weight: normal;
  font-style: normal;
}

/* font converted using font-converter.net. thank you! */
@font-face {
  font-family: "FuturaLT-Book";
  src: url("./fonts/LTe50152.eot"); /* IE9 Compat Modes */
  src: url("./fonts/LTe50152.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
    url("./fonts/LTe50152.otf") format("opentype"), /* Open Type Font */
    url("./fonts/LTe50152.svg") format("svg"), /* Legacy iOS */
    url("./fonts/LTe50152.ttf") format("truetype"), /* Safari, Android, iOS */
    url("./fonts/LTe50152.woff") format("woff"), /* Modern Browsers */
    url("./fonts/LTe50152.woff2") format("woff2"); /* Modern Browsers */
  font-weight: normal;
  font-style: normal;
}

