@import url("https://use.typekit.net/cjv6npr.css");
html, body { overflow: hidden;  width:100%; margin:0; padding:0;}
body  {background-color:#001723; height:100%;}
audio { width: 100%; position: absolute; bottom:0px;  }

#presenters { position: absolute; height:440px; width:100%;  background-color:#f6f6f6; border-top: thick solid #0073BA;
border-top-color: -o-linear-gradient(45deg, #0073ba 0%, #017985 50%, #018050 100%);
border-top-color: linear-gradient(45deg, #0073ba 0%, #017985 50%, #018050 100%); top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#ahrionline { background: no-repeat right center url("../images/AHRI_Standard_Hor.svg"); background-size: 214px 122px; width:100%;  margin:0; margin-bottom: 0; min-height: 100px; position: absolute; right:20px; top:10px;}

#title { width:810px; text-align: left; height:auto; margin-left: 20px; margin-top:40px;}
#title h2 { font-size: 30px; font-weight: bolder; font-family :"proxima-nova"; color:#01804F; margin-bottom: 0px;}
#contentText { height:115px; width:600px; padding:0px 10px;  position: absolute; top:85px;  left:10px;}
#contentText p { margin-top: 0px;}

.pres {height:200px; width:410px; background-color:#fff; position: absolute; top:165px; }
#pres1 {  left:40px;}
#pres2 {  right:40px; }
.presImage { border-radius: 50%; border: 4px #fff solid; height:100px; width:100px; position:relative; top:-65px; right:-225px; }

.bio {position: absolute; top:20px; left:20px; }
.bio h2 { font-size: 120%; font-weight: bold; font-family :"proxima-nova", sans-serif;  color:#484C57; margin-top:0;}
.bio p { font-size: 100%; font-family :"proxima-nova", sans-serif;  margin-top:-12px; color:#484C57; padding-right:10px;}


@media only screen and (max-width:839px) {
    .presImage {display:none;}
    .pres { width:310px; height:250px; top:210px;}
    #pres1 { left:20px;}
    #pres2 { right:20px;}
    #title h2 { font-size:22px;}
    #description { width:400px; }
    
}

@media only screen and (max-width:640px) {
    .presImage {display:none;}
    #title {width:210px;}
    .pres { width:520px; height:250px; top:210px;}
    #pres1 { left:0px; top:190px;}
    #pres2 { left:0px; top:340px; height:135px;}
    #title h2 { font-size:22px;}
    #description { width:500px; top:110px; line-height:1; }
    .bio { top:5px;}    
}

@media only screen and (max-height:474px) {
    audio {top:40px;}
    #description { display:none;}
    #ahrionline { top:90px;}
    #title { margin-top:110px;}
}



#presenter1Image {  background: no-repeat bottom url("../content/images/podcast/FionaMichelSmall.jpg"); }
#presenter2Image { background: no-repeat url("../content/images/podcast/BenNealSmall.jpg")}