/* body level  */
html {height:100%; overflow-x: hidden;}
body  {background-image:url(../images/stonehaven.png); overflow-x: hidden; }
#preload { height:1px; width: 1px; overflow: hidden;}

/* top menu  */
#hamburger {height:30px; width:30px; position: fixed;  right:50px; top:30px; background:url("../images/hamburger.png") no-repeat; cursor: pointer;} 
#hamburger.open {background-image:url("../images/close.png");}
#topMenu { display: none; width:250px; height:auto; background-color:#f6f6f6; position: fixed; right:50px; top:54px; z-index: 101; box-shadow: 0px 8px 6px rgba(28, 27, 27, 0.3);  }
#menu-items { padding:0; margin:0;}
#topMenu a {color:#fff; text-decoration: none;}
#topMenu li { color:#fff; font-family: FuturaLT-Book; list-style: none; font-size: 20px; padding:7px 13px; border-bottom: 1px #fff solid; border-top: 1px #fff solid; background-color:#2b4e84; }
#topMenu li:hover { background-color:#009A44 !important;}
/* journey level  */
#journey { max-width: 870px; margin:auto; background-color:#f6f6f6;  box-shadow: 6px 6px 10px rgba(28, 27, 27, 0.3); margin-top: 155px; overflow:hidden; padding-bottom: 50px;/*margin-bottom: 15px; border-top:10px solid #006EB7; border-bottom:10px solid #006EB7;*/} 

/* header */
#header {
    width: 100%;  padding:1px 0; 
    transition: all 0.3s; z-index: 5;
    background : -o-linear-gradient(45deg, #0073ba 0%, #017985 50%, #018050 100%);
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#006EB7', endColorstr='#00A545' ,GradientType=0)";
    background : linear-gradient(45deg, #0073ba 0%, #017985 50%, #018050 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#006EB7',endColorstr='#00A545' , GradientType=1);

}

#header h1 {    font-family :"proxima-nova", FuturaLT-Bold;    font-weight : bold;    font-size : 3.438em;    color : #fff;  text-align: center; }

.fixed #header { height:85px; position: fixed;  left:0px; top:70px; box-shadow: 0px 8px 6px rgba(28, 27, 27, 0.3); }
.fixed #header h1 { font-size: 2em; margin-top:5px;}

/* legend */
#legend {    width: 100%;      min-height:115px;   background-color: #F2F2F2;}
.fixed #legend {margin-top:160px;}
#legend #icons { display: flex; flex-direction: row; justify-content: space-evenly; text-align: center; margin: auto; width: 80%; flex-wrap: wrap; padding-left: 0 !important;}
#icons li { width: 72px; height:51px; font-family:"proxima-nova", FuturaLT-Book; list-style-type: none; padding-top: 60px; margin-top:15px; background-image:url(../images/video.svg); background-size: 80%; background-position: center top; background-repeat: no-repeat;}
#icons .single { padding-top: 65px;}
#icons li.c2r {background-image:url(../images/c2r.svg)  !important;}
#icons li.interactive {background-image: url(../images/activity.svg) !important;}
#icons li.task {background-image: url(../images/task.svg) !important;}
#icons li.podcast {background-image: url(../images/podcast.svg) !important;}
#icons li.reading {background-image: url("../images/activity_icons/reading_legend.svg") !important;}

/*node level */
.node { display: flex; flex-direction: column; align-items: center; padding-top: 110px; background-repeat: no-repeat !important; background-size: 99px; background-position: center top; height: auto; position: relative; margin-left:-100%; margin-top: 50px;}
.node::before {height: 99px; width: 99px;  content:""; position: absolute; top:-9px; margin-left:-5px !important; border-radius: 50%; background-color: #005eb8; border: #f1f2f1 5px solid;}
.node::after {height: 65px; width: 65px;  content:""; position: absolute; top:13px; margin-left:-5px !important; background: url(../images/nodeTitles/start.svg) no-repeat center; margin-left: -16px; }
.line { content:""; position: relative; left: 50%;border-left: 5px solid #005eb8; height:100%; }
.continue { height: 20px; width: 20px; border-radius: 50%; background-color: #fff; margin-left: -16px; border: #006EB7 3px solid; } 
.nodeTitle {width:450px; background : #005eb8;  border-radius : 30px;  -moz-border-radius : 30px;  -webkit-border-radius : 30px; padding:5px 30px; box-shadow: 0px 8px #F2F2F2; text-align: center;}

.nodeTitle h2 {font-family:"proxima-nova", FuturaLT-Book; color:#fff;font-size: 1.25em; font-weight: bold; line-height: 20px; text-transform: uppercase; }

/*begin and end*/
#overview {background-image: url(../images/nodeTitles/start.svg);}
#summary {height:450px;}
#overview .nodeTitle {background : #005eb8;  background-color: #005eb8;}
#overviewVid { margin-top: 20px;}



/*individual nodes*/
#node0:after {background-image: url(../images/nodeTitles/start.svg);  }
#node1:after {background-image: url(../images/nodeTitles/node1.svg);  }
#node2:after {background-image: url(../images/nodeTitles/node2.svg); }
#node3:after {background-image: url(../images/nodeTitles/node3.svg); }
#node4:after {background-image: url(../images/nodeTitles/node4.svg); margin-left:5px !important;}
#node5:after {background-image: url(../images/nodeTitles/node5.svg); top:10px; margin-left:-5px !important;}
#node6:after {background-image: url(../images/nodeTitles/node1.svg);}
#node7:after {background-image: url(../images/nodeTitles/node7.svg); top:9px; margin-left:2px !important;}
#node8:after {background-image: url(../images/nodeTitles/node1.svg);}
#node9:after {background-image: url(../images/nodeTitles/node8.svg);}
#node10:after {background-image: url(../images/nodeTitles/node10.svg); margin-left: -2px !important;}
#node11:after {background-image: url(../images/nodeTitles/node1.svg);}
#node12:after {background-image: url(../images/nodeTitles/end.svg); height:60px; width:60px; top:12px; margin-left: -3px !important;}

/*cycling through the four colours*/

.line {border-left-color:#005eb8;}
.nodeTitle {background:#005eb8;}
.continue {border-color:#005eb8;}
.node .activity .status { background-color:#006EB7;}
.node .activity a {color:#006EB7;}

.line:nth-child(4n) {border-left-color:#00809A;}
.line:nth-child(4n) .node:before {background-color:#00809A;}
.line:nth-child(4n) .nodeTitle {background:#00809A;}
.line:nth-child(4n) .continue {border-color:#00809A;}
.line:nth-child(4n) .status { background-color:#00809A;}
.line:nth-child(4n) .node .activity a {color:#00809A !important;}

.line:nth-child(4n+1) {border-left-color:#008F7D;}
.line:nth-child(4n+1) .node:before {background-color:#008F7D;}
.line:nth-child(4n+1) .nodeTitle {background:#008F7D;}
.line:nth-child(4n+1) .continue {border-color:#008F7D;}
.line:nth-child(4n+1) .status { background-color:#008F7D;}
.line:nth-child(4n+1) .node .activity a {color:#008F7D !important;}

.line:nth-child(4n+2) {border-left-color:#00A545;}
.line:nth-child(4n+2) .node:before {background-color:#00A545;}
.line:nth-child(4n+2) .nodeTitle {background:#00A545;}
.line:nth-child(4n+2) .continue {border-color:#00A545;}
.line:nth-child(4n+2) .status { background-color:#00A545;}
.line:nth-child(4n+2) .node .activity a {color:#00A545 !important;}


/* iframe and iframe content */
#contentWindow { display: none;}
.node #contentWindow, #topMenu #contentWindow { width: 100%; height: 80%; display: none; z-index: 100;}
.node #content, #topMenu #content { width:100%; height: 95%;}
.node .lightbox-wrapper, #topMenu .lightbox-wrapper { width:80vw; height:100%; }
.node .lightbox-content, #topMenu .lightbox-content { width:80vw; height:95%; }
.video .lightbox-content { height:100%;}

#frame, #content { border-color:#333 !important;}
.lightbox-video-player { border:0 !important;}
.video .lightbox-btn.lightbox-btn-close, #node0 .lightbox-btn.lightbox-btn-close {right:0 !important;}
#node0 #act1 .lightbox-btn-close, #node0 #act2 .lightbox-btn-close, #node0 #act3 .lightbox-btn-close, #node0 #act4 .lightbox-btn-close  { right:-.8em !important;}
.lightbox-container { z-index: 100; padding:1em;}
.lightbox-video-wrapper { padding-bottom:55%;}

/*activity level*/
.activity { background-repeat: no-repeat; background-position: 70% 15%; background-size: 15%; padding:0px 200px 0px 20px; height:100px; width:300px; margin-top: 50px;  }

.activity::before { content:""; position: absolute; display: inline-block; background-color:#ecedeb; height:80px; width:80px; border-radius: 50%;left:307px; top:5px; }
.activity:nth-child(2n+1)::before { left:115px;}
.activity::after { content:""; position: absolute; display: block; height:42px; width:42px; left:326px; top:23px; background-repeat: no-repeat; }
.activity:nth-child(2n+1)::after { left:134px;}

.activity.last { margin-bottom: 50px;}

.activity .status { height: 20px; width: 20px; border-radius: 50%; border: #fff 3px solid; position: absolute; left:47%; top:32%; }
 

/*left*/
.activity:nth-child(odd)  {padding:0px 0 0px 200px; background-position: 28% 15%; text-align: left;}

.activity h3 {font-family:"proxima-nova", FuturaLT-Book; font-size: 1.25em; width:42%; left:0px; position: absolute; text-align: right; top:11%;}


.activity.wide h3 { width:60%;}

/*left*/
.activity:nth-child(odd) h3 { left:60%; text-align: left; width:46%}
.activity.wide:nth-child(even) h3 { margin-left:-92px;}

.video::after { background-image: url("../images/activity_icons/video.svg");}
.interactive::after { background-image: url(../images/activity_icons/activity.svg) !important; height:50px; width:50px; left:331px; top:19px;}
.interactive:nth-child(2n+1)::after {left:135px;}
.reflect {}
.task::after {background-image:url(../images/activity_icons/task.svg)  !important; height:50px; width:50px; left:328px; top:19px;}
.task:nth-child(2n+1)::after {left:135px;}
.c2r::after {background-image:url(../images/activity_icons/c2r.svg)  !important;}
.f2f {background-image: url(../images/f2f.svg)  !important;}
.node .f2f {background-image: none  !important;}
.node .f2f::after {background-image: url(../images/activity_icons/f2f_activity.svg)  !important; height:50px; width:50px; left:323px; top:23px;}

.podcast::after { background-image:url(../images/activity_icons/podcast.svg)  !important; height:50px; width:50px; left:325px; top:20px;}
.podcast:nth-child(2n+1)::after {left:133px;}
.reading::after { background-image:url(../images/activity_icons/reading.svg)  !important; height:50px; width:50px; left:322px; top:23px;}
.reading:nth-child(2n+1)::after {left:130px;}


.activity.inprogress::before {background-color:#f7d9aa;}
.activity.completed::before {background-color:#a6cba6;}

.activity.completed .status::after{content: "";  display: inline-block;  background-image:url("../images/status/status_completed.svg") !important; width:45px; height:45px; position: absolute; left:110px; top:-30px;}
.activity:nth-child(odd).completed .status::after{left:-140px;}

.activity.inprogress .status::after{ content: ""; display: inline-block; background-image:url("../images/status/status_inprogress.svg") !important; width:45px; height:45px; position: absolute; left:110px; top:-30px;}
.activity:nth-child(odd).inprogress .status::after{ left:-140px;}


/*topic descriptions */

.activity { position: relative;  display: inline-block;}

.activity .detailtext {visibility: hidden; background-color: #fff; box-shadow: 8px 8px #F2F2F2; color: #3F464F; font-family: FuturaLT-Book; font-style: italic;  text-align: left; border-radius: 6px; padding: 15px;
/* Position the tooltip */
position: absolute; width: 300px; top: 60%; left: 100%; margin-left: -200px; /* Use half of the width (120/2 = 60), to center the tooltip */
    z-index: 100;
}

.activity:nth-child(even) .detailtext { margin-left: -121%; top:60%;   /* Use half of the width (120/2 = 60), to center the tooltip */}

.activity.double .detailtext { top:80%;}

.nodeTitle .detailtext {visibility: hidden; width: 220px; background-color: #fff; box-shadow: 8px 8px #F2F2F2; color: #3F464F; font-family: FuturaLT-Book; font-style: italic;  text-align: left; border-radius: 6px; padding: 15px; z-index: 100;
    /* Position the tooltip */
    position: absolute; width: 410px; margin-top:10px; left: 50%; margin-left: -205px;  /* Use half of the width (120/2 = 60), to center the tooltip */
}

.activity:hover .detailtext, .nodeTitle:hover .detailtext {
  visibility: visible;
}


/* Continue button */
#continue { background-color:#f6f6f6; border-radius:15px; position: fixed; left:50%; top:50%; height:200px; width:500px; padding:50px; margin-top:-150px; margin-left:-280px; font-family:"proxima-nova", FuturaLT-Book; font-weight: bold; font-size: 26px; color:#474c55; display: none; transition:border 0.4s ease-in-out, display 0.4s ease-in-out, color 0.4s ease-in-out, background-color 0.4s ease-in-out; border:solid medium #474c55; box-shadow: 6px 6px 10px rgba(28, 27, 27, 0.3);}

#continue a { color:#fff; text-decoration: none; margin:auto; font-family: Proxima N W01 Smbd, sans-serif; font-size: 20px; padding: 0.8em 2em; border-radius: 5px; border:2px solid #fff; text-align: center;  background-color:#01804f; height:20px; width:120px; font-weight: bold;  cursor: pointer; position: absolute; bottom:60px; right:60px; border-top-left-radius: 13px; border-bottom-right-radius: 13px; }

#continue a:hover {background-color:#0073ba;}


/* footer */
#topLine, #footer {  width:100%; position: absolute; left:0px; background-color: #f6f6f6;  margin-top:60px; box-shadow: 0px 8px 6px rgba(28, 27, 27, 0.3);background-image: url(../images/AHRI_Standard_Hor.svg); background-size: auto 65%; background-position: center; background-repeat: no-repeat;}
#footer {height: 90px;}
#topLine { min-height: 90px; top:0px; margin-bottom:60px; margin-top:0px; justify-content: center; display: flex; flex-direction: row; position: fixed; transition: all 0.04s; z-index: 100;}
.fixed #topLine { min-height:70px; box-shadow: none;}
#topLine img { height:65px; margin: auto 24px; }
#topLine h1 {  font-family : FuturaLT-Bold;    font-weight : bold;    font-size : 3em;    color : #fff;    text-shadow: 2px 2px rgba(68, 68, 65, 0.8); text-align: center; }